@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-turno-primary: #3d4465;
    --color-turno-primary-light: #5a6280;
    --color-turno-primary-dark: #2d3449;
    --color-turno-accent: #2ac2af;
    --color-turno-accent-dark: #1e8495;
    --color-turno-bg-light: #eaf9f7;
    --color-turno-bg-gray: #ebedef;
}

@layer utilities {
    .bg-turno-gradient {
        background: linear-gradient(115deg, #2ac2af 0%, #1e8495 100%);
    }

    .accent-turno-primary {
        accent-color: #3d4465;
    }
}
